* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', sans-serif;
}

header {
	background: #667eea;
	color: #FAFAFA;
	padding: 1rem;
}

nav {
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	font-size: 1.8rem;
	font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #FAFAFA;
    text-decoration: none;
}

.auth-btns {
    display: flex;
    gap: 1rem;
}

.btn{
    background: #FAFAFA;
    color: #667eea;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero {
	background: #667eea;
	color: #FAFAFA;
	padding: 4rem 2rem;
	text-align: center;
}

.hero p{
    margin-bottom: 2rem;
}

.search-box{
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
}

.search-input{
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

.search-btn{
    background: #FAFAFA;
    color: #667eea;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 4rem auto;
	padding: 0 2rem;
}
